@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;900&display=swap");

:root {
  --winter-sky: #ff057a;
  --blue-violet: #8d2ce2;
  --spring-green: #39ef7f;
  --ultramarine: #4b00e0;
  --dark-orange: #ff8c00;

  --gold-web-golden: hsl(50, 95%, 56%);
  --spanish-orange: hsl(24, 100%, 45%);
  --persian-green: hsl(175, 80%, 33%);
  --granite-gray: hsl(0, 0%, 40%);
  --smoky-black: hsl(0, 0%, 7%);
  --cultured-1: hsl(0, 0%, 98%);
  --cultured-2: hsl(0, 0%, 95%);
  --cultured-3: hsl(0, 0%, 94%);
  --light-gray: hsl(0, 0%, 80%);
  --alice-blue: hsl(206, 89%, 93%);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 99%);
  --black: hsl(0, 0%, 0%);

  --ff-spartan: "League Spartan", sans-serif;

  --shadow-1: 0 2px 25px hsla(0, 0%, 0%, 0.1);
  --shadow-2: 0 8px 14px hsla(0, 0%, 0%, 0.1);
  --shadow-3: 0 14px 30px hsla(0, 0%, 0%, 0.05);

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* RESET  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a,
img,
svg,
span,
input,
button,
strong {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

/* REUSE  */
.section-100 {
  padding-block: 100px;
}
.section-60 {
  padding-block: 60px;
}
body {
  font-family: var(--ff-spartan) !important;
  height: 4000px;
}
.tx-900x60 {
  font-weight: 900;
  font-size: 60px;
  color: #000;
}
.tx-900x50 {
  font-weight: 900;
  font-size: 50px;
  color: #000;
}
.tx-900x45 {
  font-weight: 900;
  font-size: 45px;
  color: #000;
}
.tx-600x29 {
  font-weight: 600;
  font-size: 29px;
}
.tx-600x24 {
  font-weight: 600;
  font-size: 24px;
}
.text {
  font-weight: 400;
  font-size: 20px;
  color: #666666;
}
.btn-40 {
  margin-inline-start: 0;
  min-height: 50px;
  padding-inline: 40px;
}
.btn-25 {
  margin-inline-start: 0;
  min-height: 50px;
  padding-inline: 25px;
}
.bg-1 {
  background-image: linear-gradient(
    to right,
    rgb(255, 5, 122),
    rgb(255, 140, 0)
  );
}
.bg-2 {
  background-image: linear-gradient(
    to right,
    rgb(75, 0, 224),
    rgb(141, 44, 226)
  );
}
.bg-3 {
  background-image: linear-gradient(
    to right,
    rgb(17, 151, 140),
    rgb(57, 239, 127)
  );
}
.bg-4 {
  background-image: linear-gradient(
    to right,
    rgb(230, 92, 0),
    rgb(249, 214, 36)
  );
}

/* HEADER  */
/* header {
  transition: var(--transition-1);
}
.new {
  position: fixed;
  width: 100%;
  background: #fff;
} */
.logo {
  font-size: 35px;
  font-weight: 700;
}
.navbar {
  box-shadow: var(--shadow-1);
}
.nav-item .nav-link {
  font-weight: 500;
  font-size: 20px;
  transition: var(--transition-1);
}
.nav-item:hover .nav-link {
  color: var(--winter-sky);
}

/* HERO  */
.hero {
  background: #fafafa;
}
.hero .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.input-group input {
  border: none;
  background: #f0f0f0;
  padding: 20px 15px;
}
.input-group .btn {
  padding: 20px 15px;
}
.check .bx {
  color: var(--blue-violet);
}

/* SERVICE  */
.service {
  position: relative;
}
.service .service-content {
  max-width: 50%;
}
.service .card-body .btn {
  color: var(--blue-violet);
}
.service .card-body .tx-600x29:hover {
  color: var(--winter-sky);
}

/* FEAURE  */
.feature {
  background: #fcfcfc;
}
figure {
  position: relative;
}
.banner-2 {
  position: absolute;
  bottom: -100px;
  right: 0;
}

/* ABOUT  */
.about-content {
  max-width: 50%;
}
.about .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.about img {
  max-width: 40%;
  height: 150px;
  min-width: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.about img:hover {
  background-color: #ccc;
}
.about span {
  color: var(--blue-violet);
}
.about span:hover {
  color: var(--winter-sky);
}

/* STATS  */
.stats {
  background: #f2f2f2;
}
.stats-item {
  position: relative;
  padding-block: 5px;
  padding-inline-start: 15px;
}
.stats-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  border-radius: 5px;
}
.stats-item.purple::before {
  background-color: var(--ultramarine);
}
.stats-item.red::before {
  background-color: var(--winter-sky);
}
.stats-item.green::before {
  background-color: var(--spring-green);
}
.stats-item.yellow::before {
  background-color: var(--dark-orange);
}
.stats h2 span {
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  display: inline-block;
}

/* BLOG  */
.blog .btn {
  padding: 20px 30px;
  max-width: fit-content;
}

/* CONTACT  */
.contact .w-60 {
  max-width: 60%;
}

/* FOOTER  */
footer .footer-top {
  background: #fafafa;
}
.footer-top a {
  color: #666666;
}
.footer-top a:hover {
  color: var(--blue-violet);
}
.footer-top .bx {
  color: var(--blue-violet);
}
.copyright span {
  display: inline-block;
  color: var(--winter-sky);
  font-weight: 500;
}
.copyright-link {
  font-weight: 600;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.footer-bottom {
  line-height: 50px;
}
.footer-bottom a {
  color: #666666;
}
.footer-bottom a:hover {
  color: var(--blue-violet);
}

/* BACK TO TOP  */
.back-top-btn.active {
  visibility: visible;
}
.back-top-btn {
  color: #666666;
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 2.2rem;
  opacity: 1;
  visibility: hidden;
  transition: var(--transition-1);
}
